body {
    text-align: center;
    background-color: #06759e;
}


.code {
    display: inline-block;
    color: white;
    padding: 2px;
    background-color: black;
    width: 50%;
    border-radius: 10px;

}

.code:hover {
    transform: scale(1.2);
}

#git {
    border-radius: 1.5%;
}